{% extends "main.html" %}

{% block content %}
    <div>
        {% if bought_products|length>0 %}
            <h3>Receipt</h3>
            {% set ns = namespace(total_price = 0, i = 1) %}
            <p>Card number : {{ card_number }} </p>
            {% for product in bought_products %}
                <h3>Product no. {{ ns.i }}</h3>
                <div>
                    <p>_id : {{ product['_id'] }}</p>
                    <p>Name : {{ product['name'] }}</p>
                    <p>Price : {{ product['price'] }} € </p>
                    <p>Description : {{ product['description'] }}</p>
                    <p>Category : {{ product['category'] }}</p>
                    <p>Quantity : {{ product['quantity'] }}</p>
                    {% set ns.total_price = ns.total_price + product['quantity']*product['price'] %}
                    {% set ns.i = ns.i + 1 %}
                </div>
            {% endfor %}
            <h2>Total price of receipt : {{ ns.total_price }} € </h2>
        {% else %}        
            <h3>Buy products</h3>
            <div>
                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="card_number" name="card_number" placeholder="Card number">
                    </div>
                    <button type="submit" class="btn">Buy</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}