<!DOCTYPE html>
<html>
    <head>
        <title>DS Markets</title>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            *{
                box-sizing: border-box;
            }

            body{
                font-family: Arial, Helvetica;
                margin: 0
            }
        </style>
    </head>

    <body>
        <h1>DS Markets</h1>

        {% block content %}
            <div>
                <a href="register">Register</a>
                <a href="login">Log In</a>
            </div>
        {% endblock %}
    </body>

</html>